*,
*:before,
*:after {
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}




body,
html {
    /*    position: relative;*/
    max-width: 100%;
    /*    height: 100%;*/
    color: rgb(0);
    background-color: rgb(255, 255, 255);
    /*    overflow-y: hidden;*/
}

pre {
    font-family: sergio;
    font-size: 70%;
    text-align: center;
    padding-left: -80%;

}


@font-face {
    font-family: sergio;
    src: url("fonts/sergio-trial.otf");
}


#headers {
    /*    white-space: nowrap;*/
}

#header {
    position: relative;
    color: rgb(0, 0, 255);
    font-size: 100px;
    font: 'sergio';
    text-align: center;
    padding-left: -15%;
    padding-top: 5%;
    padding-bottom: 10%;
    margin-left: 5%;
    margin-top: 3%;
    background-color: white;
    border: 1px solid blue;
    border-radius: 75%;
    width: 90%;
    height: 20%;
    overflow: hidden;
    z-index: 1;
}

#header audio {
    /*    height: 100%;*/
}

#header2 {
    position: fixed;
    bottom: 20px;
    color: rgb(0, 0, 255);
    font-size: 100px;
    font-family: 'sergio';
    text-align: center;
    padding-left: -5%;
    padding-top: 5%;
    padding-bottom: 10%;
    margin-left: 10%;
    margin-top: 5%;
    background-color: white;
    border: 1px solid blue;
    border-radius: 75%;
    width: 80%;
    z-index: 1
/*    height: 20%;*/
/*    overflow: hidden;*/
}


.scrolling-pane {
    display: inline-block;
    position: absolute;
    background-color: rgb(255);
    top: 0;
    height: 100%;
    width: 75%;
    padding-top: 100%;
    padding-bottom: 70%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 100%;
    overflow: scroll;
    white-space: normal;
}

.dummy-content {
    width: 80%;
    height: 100%;
    background-color: rgb(255);
    font: helvetica;
    font-family: helvetica;
    font-size: 65%;
    text-align: left;
    position: relative;
    padding-left: 1%;
    margin-top: 1%;
    margin-bottom: 30%;

}

.dummy-content img {
    position: relative;
    max-width: 100%;
    height: auto;

}

.maintext {

    font-family: Helvetica;
    position: fixed;
    font-size: 85%;
    width: 83%;
    white-space: normal;
    overflow-x: scroll;
    top: 20%;
    bottom: 20%;
    margin-left: 45px;
    display: none;
    z-index: 0;
    padding-bottom: 100px;
    padding-top: 15px;
}

.maintext p {
    /*    position: fixed;*/
    display: inline-block;
    line-height: 18px;
    text-align: left;
}

.maintext img {
    position: relative;
    display: block;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;

}



#popup-glacier {
    position: relative;
    max-width: auto;
    height: 100%
}


.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 20%;
    left: 0%;
    display: none;
    z-index: 4 !important;
}

.popup img {
    position: absolute;
/*    top: 20%;*/
    max-width: 90%;
/*    height: 100%;*/
    z-index: 20;
    transform: translateX(-50%);
    left: 50%;
}

.popup .bg {
    position: fixed;
    top: 0;
    width: 100%;
    height: 200%;
    background-color: white;
    opacity: 0.8;
    z-index: 3;
}
