*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

body, html {
    position: relative;
    max-width: 100%;
    height: 100%;
    color: rgb(0);
    background-color: rgb(255,255,255);
    overflow-y: hidden;
}

pre {
  font-family: sergio;
  font-size: 70%;
  text-align: center;
  padding-left: -80%;

}

#headers {
  white-space:nowrap;
}

#header {
  position: relative;
  color: rgb(0,0,255);
  font-size: 500%;
  font: sergio-trial.otf;
  text-align: center;
  padding-left: -15%;
  padding-top: 5%;
  padding-bottom: 10%;
  margin-left: 5%;
  margin-top: 3%;
  background-color: white;
  border: 1px solid black;
  border-radius: 35%;
  width: 90%;
  height: 80%;
  overflow: hidden;
}

#header2{
  color: rgb(0,0,255);
  position: relative;
  font-size: 500%;
  font: sergio-trial.otf;
  text-align: center;
  padding-left: -5%;
  padding-top: 5%;
  padding-bottom: 10%;
  margin-left: 10%;
  margin-top: 80%;
  background-color: white;
  border: 1px solid black;
  border-radius: 75%;
  width: 80%;
  height: 70%;
  overflow: hidden;
}

#scroll2 {
  white-space: nowrap;
}

.scrolling-pane {
  display: inline-block;
  position:absolute;
  top:0;
  height: 75%;
  width: 100%;
  padding-top: 60%;
  padding-bottom: 40%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 100%;
  overflow: auto;
  white-space:normal;
}

.dummy-content {
  width: 80%;
  height: 20%;
  background-color: rgb(255);
  font: helvetica;
  font-family: helvetica;
  font-size: 14px;
  text-align: left;
  position: relative;
  padding-left: 1%;
  margin-top: 1%;
  margin-bottom: 30%;

}

.dummy-content img{
  position: relative;
  max-width:100%;
  height: auto;

}

.text-content {
  margin-top: 40px;
}

.audio {

}


#popup-glacier {
  position: relative;
  max-width: auto;
  height: 100%
}


.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  display: none;
  z-index: 1 !important;
}

.popup img {
  position: relative;
  top:20%;
  max-width: 90%;
  height: auto;
  z-index: 20;
  transform: translateX(-50%);
  left: 50%;
}

.popup .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.8;
  z-index: 10;
}
